.modal{
    display: none;
    /* position: fixed;
    z-index: 1;
    padding: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color: rgb(125, 7, 44);
    background-color: rgb(236, 232, 232); */
  

}
.active{
    display: block;
}

.row {
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
}

.modal-content{
    background-color: rgb(187, 187, 187);
    margin: 17% auto;
    padding: 20px;
    border: 1px solid;
    width: 80%;
}

.close{
    color: darkgreen;
    float: right;
    font-size: 25px;
    font-weight: bold;
}

.close:hover,
.close:focus{

    color: red;
    text-decoration: none;
    cursor: pointer;

}

image{
    width: 300px;
}

img {
    max-width: 100%;
}